Categories: products
Template: home
Summary: Client list


.container-fluid
  .row-fluid
    .span9
      %h1 Clients
      %p
        A summary of our various clients and partners is shown below..
  .row-fluid
    - [{:link => "http://www.etpi.com.ph", :image => "easern.png", :text =>"Eastern is a leading telco in Philippines"},{:link => "http://chattimeapp.com", :image => "smartroam.jpg", :text =>"Smartroam has a leading iOS and Android app"},{:link => "http://adfiap.org", :image => "finex.jpg", :text =>"Adfiap has relations with over 100 development banks"}].each do |i|
      .span3
        .media
        %a(href="#{i[:link]}" class="pull-left" ) 
          %img{:src=>"attachments/partners/#{i[:image]}", :width => "120", :height=>"120", :alt=>"Partner", :class=>"media-object" }
        .media-body
          %a(href="#{i[:link]}")
            %p #{i[:text]}
    .span3
      = haml :product_menu, :layout => false
  .row-fluid
    - [{:link => "http://www.bni.com", :image => "BNI_logo.jpg", :text =>"BNI is a entreprenuerial networking organization"},{:link => "http://rapengineers.com", :image => "raplogo.jpg", :text =>"Rap Engeineers provides mechanical fixtures across SEA"},{:link => "http://starhub.com", :image => "starhub.jpg", :text =>"Starhub is Singapore telecom"}].each do |i|
      .span3
        .media
        %a(href="#{i[:link]}" class="pull-left" ) 
          %img{:src=>"attachments/partners/#{i[:image]}", :width => "120", :height=>"120", :alt=>"Partner", :class=>"media-object" }
        .media-body
          %a(href="#{i[:link]}")
            %p #{i[:text]}
    .span3
      = haml :learn_more, :layout => false